@{
    ViewData["Title"] = "Home Page";
}

@*
NON HO BEN CAPITO COME FAR FUNZIONARE INSIEME C# E HTML, EVIDENTEMENTE NON FUNZIONA COME CON JAVASCRIPT
*@

<html>
<head>
    <title> LogIn</title>
</head>

<body>
    <h1>Welcome to the LogInPage</h1>

    <h3>
      


        
        @using (Html.BeginForm("MetodoProva()", "HomeController", FormMethod.Get))
        {
            <p>Email</p>
            <input id='email' type="text" placeholder="email">
            <p>Password</p>
            <input id='password' type="text" placeholder="password">
            <button id="LogInButton"> LogIn </button>
        }
       

        

    </h3>
</body>
</html>
